<section id="about">
    <div class="container">
        <div class="row align-items-end justify-content-center">
            <div class="flex-column">
                <div class="header">
                    ABOUT ME
                </div>

                <div class="text">
                    As you already know, my name is Dmitriy. I am based and work in Samara. My current developer experience is 1 year.
                    New technologies are not a problem for me, I like to learn something new and and try to constantly increase my technology stack!
                    <br>
                    I'm also trying to improve my English skill, but I can read the technical documentation.
                    <br>
                    Below you can see information about my skills and work that I do in my free time.
                </div>
            </div>
        </div>
    </div>
</section>