section {
  height: 500px;
  font-family: "Lato", sans-serif;

  .container-fluid {
    height: 100%;

    .row {
      text-align: center;

      .flex-column {
        width: 600px;

        .header {
          margin-top: 100px;
          font-weight: bold;
          font-size: 30px;
        }

        .header:after {
          content: "";
          display: block;
          width: 45px;
          height: 4px;
          background-color: #dddbdb;

          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
