<section class="contacts">
    <div class="container">
        <div class="row align-items-center justify-content-center row-padding">
            <div class="column">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <a href="https://www.linkedin.com/in/dmitriy-epaneshnikov-81bbb8183" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="https://github.com/dmepty" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="https://www.instagram.com/d0mest0ss/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        E-mail: dmeptywork@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>