<section id="skills">
    <div class="container">
        <div class="row align-items-end justify-content-center">
            <div class="flex-column">
                <div class="header">
                    MY SKILLS
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <app-progress-circle percent="89" circleIdent="sharpProgress"></app-progress-circle>
                        </div>
                        <div class="col-md-4">
                            <app-progress-circle percent="75" circleIdent="angularProgress"></app-progress-circle>
                        </div>
                        <div class="col-md-4">
                            <app-progress-circle percent="73" circleIdent="htmlCssProgress"></app-progress-circle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>