section {
  min-height: 450px;
  background-color: #f6f6f6;

  .container {
    .row {
      .flex-column {
        .content {
          .skill-name {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: bold;
          }

          .skill-description {
            .keyword{
              background-color: #C8C8C8;
              padding: 3px;
              border-radius: 5px;
            }
          }

          .col-md-4 {
            @media (max-width: 768px) {
              margin-bottom: 60px;
            }
          }
        }
      }
    }
  }
}
