<section id="skills">
    <div class="container">
        <div class="row align-items-end justify-content-center">
            <div class="flex-column">
                <div class="header">
                    MY SKILLS
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <app-progress-circle percent="89" circleIdent="sharpProgress"></app-progress-circle>

                                <div class="skill-name">
                                    C#
                                </div>

                                <div class="skill-description">
                                    C# and .Net it's my main skill. I started with C# and I still like it!
                                    I worked with <span class="keyword">ASP.NET</span>, <span
                                        class="keyword">WPF</span>, <span class="keyword">WCF</span> and <span
                                        class="keyword">EF</span> to work with database.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <app-progress-circle percent="75" circleIdent="angularProgress"></app-progress-circle>

                                <div class="skill-name">
                                    Angular
                                </div>

                                <div class="skill-description">
                                    Angular it's my first web framework. I work with it not so long time, but it's
                                    interesting for me (and I used it to create this site)! Also I worked with
                                    <span class="keyword">AngularJS</span>.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <app-progress-circle percent="73" circleIdent="htmlCssProgress"></app-progress-circle>

                                <div class="skill-name">
                                    HTML\CSS
                                </div>

                                <div class="skill-description">
                                    After I started work with Angular, I became interested in created beautiful pages.
                                    And I started to improve this skill. I use <span class="keyword">SCSS</span> preprocessor, but also I can write
                                    with vanilla CSS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>