<section id="#home">
    <div class="container-fluid">
        <div class="row main-row">
            <div class="row col-md-12 align-items-end justify-content-center">
                <div>
                    <div class="header">
                        HELLO, I AM DMITRIY
                    </div>

                    <div class="sub-header">
                        I AM DEVELOPER
                    </div>
                </div>
            </div>

            <div class="row col-md-12 align-items-end justify-content-center">
                <div class="arrow">
                    <button type="button" class="btn btn-link">
                        <span class="icon-arrow-down"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>